.inline_div{
    display: inline-flex;
}

.episodes_div{
    padding: 2%;
    width: 60%;
}

.episodes_block{
    display: flex;
    flex-direction: column;
    justify-content: center
}

.form_div{
    margin: 6%;
    width: 20%;
}

.item_list{
    display: flex;
    justify-content: space-between
}